<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\crawler\public\CSS\swtichlogon.css">

    <title>手机号 账号登录</title>
</head>

<body style="position:relative;text-align:center">
    <div class="header">
        <div class="headerMain">
            <a class="logo" href="#">
                <img src="\crawler\public\icon\LY.ico" alt="">
                文库
            </a>
            <ul class="navRight">
                <li class="tips"><a href="#">下载PC版</a></li>
                <li class="tips"><a href="#">下载手机版</a></li>
                <li class="tips"><a href="#">下载MAC版</a></li>
            </ul>
        </div>
    </div>
    <div class="middle">
        <div class="mainBox">
            <div class="loginBox">
                <div class="title">
                    <span class="span-qrcode">二维码登录</span>
                    <span class="span-account s_active">账号登录</span>
                </div>
            </div>
            <div class="loginShadow"></div>
        </div>

    </div>
</body>

</html>